/* bootstrap helpers */
a:focus {
	outline: none!important;
}
ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
}
.fs-1-7r {
	font-size: 1.7rem
}
.fs-2-5r {
	font-size: 2.5rem;
}

@media(max-width: 991px) {
    .fs-2-5r {
        font-size: 1.5rem;
    }
}


.pbt-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.pr-10 { 
	padding-right: 10px;
}
.pbt-60 {
	padding-top: 60px;
	padding-bottom: 60px;
}
.mbt-40 {
	margin-top: 40px;
	margin-bottom: 40px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mt-30 {
	margin-top: 30px;
}
.mb-15 {
	margin-bottom: 15px;
}
.mb-0 {
	margin-bottom: 0!important;
}
.mt-80 {
	margin-top: 80px;
}
.pt-80 {
	padding-top: 80px;
}
.mbr-2 {
	margin-bottom: 2rem;
}
.pb-10 {
	padding-bottom: 10px;
}
.pbr-1 {
	padding-bottom: 1rem;
}
.h-100 {
	height: 100%;
}
.delimetr {
	position: relative;
	display: block;
}
.delimetr:after {
	content: '';
	position: absolute;
	width: 80px;
	height: 1px;
	background: #7bbc48;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.titleLine {
	border-bottom: 1px solid rgba(0,0,0,.1);
  margin-bottom: 1rem;
}
.titleLine h3 {
	border-bottom: 3px solid #7bbc48;
  display: inline-block;
  margin-bottom: -1px;
}
.section-dark-gray {
	background-color: #efefef;
}
.section-gray {
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(248,248,248,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(248,248,248,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(248,248,248,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 );
}
.section-gray-t {
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(248,248,248,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff',GradientType=0 );
}
.section-gray-tb {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(248,248,248,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(70%, rgba(255,255,255,1)),to(rgba(248,248,248,1)));
  background-image: -webkit-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 70%,rgba(248,248,248,1) 100%);
  background-image: -o-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 70%,rgba(248,248,248,1) 100%);
  background-image: linear-gradient(top, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 70%,rgba(248,248,248,1) 100%);
}
.section-gray-light {
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(248,248,248,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(248,248,248,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(248,248,248,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 );
}
.parallax-container {
  position: relative;
  overflow: hidden;
  height: 488px;
}

.parallax-container .parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax-container .parallax img {
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
html {
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: 1rem;
	font-family: "Montserrat";
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}

h1, .h1 {
	font-size: 2.5rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
}

h2, .h2 {
	font-size: 2rem;
}

h3, .h3 {
	font-size: 1.75rem;
}

h4, .h4 {
	font-size: 1.5rem;
}

h5, .h5 {
	font-size: 1.25rem;
}

h6, .h6 {
	font-size: 1rem;
}
.bsToAction {
  display: block;
  font-weight: bold;
  text-decoration: none!important;
  margin-top: -6px;
  text-align: center;
  color: #fff!important;
  height: 26px;
  width: 100%;
  background-color: #0286A6;
}
@media(max-width: 991px) {
	.bsToAction {
    margin-top: -6px;
	}
	.hideOnMobile {
		display: none;
	}
	h1, .h1 {
		font-size: 1.85rem;
	}
	h2, .h2 {
		font-size: 1.5rem;
	}
	h3, .h3 {
		font-size: 1.35rem;
	}
	h4, .h4 {
		font-size: 1.25rem;
	}
	h5, .h5 {
		font-size: 1.15rem;
	}
	h6, .h6 {
		font-size: 1rem;
	}
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover, .btn:focus {
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
  background-image: none;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.lead {
	font-size: 1.25rem;
	font-weight: 300;
}

.display-1 {
	font-size: 6rem;
	font-weight: 300;
	line-height: 1.2;
}

.display-2 {
	font-size: 5.5rem;
	font-weight: 300;
	line-height: 1.2;
}

.display-3 {
	font-size: 4.5rem;
	font-weight: 300;
	line-height: 1.2;
}

.display-4 {
	font-size: 3.5rem;
	font-weight: 300;
	line-height: 1.2;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

small,
.small {
	font-size: 80%;
	font-weight: 400;
}

mark,
.mark {
	padding: 0.2em;
	background-color: #fcf8e3;
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}

.list-inline {
	list-style: none;
	padding: 0;
	margin: 0;
}
.list-inline li {
	display: inline-block;
}

.list-inline-item {
	display: inline-block;
}

.list-inline-item:not(:last-child) {
	margin-right: 0.5rem;
}

.initialism {
	font-size: 90%;
	text-transform: uppercase;
}

.blockquote {
	margin-bottom: 1rem;
	font-size: 1.25rem;
}

.blockquote-footer {
	display: block;
	font-size: 80%;
	color: #6c757d;
}

.blockquote-footer::before {
	content: "\2014 \00A0";
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.img-thumbnail {
	padding: 0.25rem;
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-radius: 0.25rem;
	max-width: 100%;
	height: auto;
}

.figure {
	display: inline-block;
}

.figure-img {
	margin-bottom: 0.5rem;
	line-height: 1;
}

.figure-caption {
	font-size: 90%;
	color: #6c757d;
}
.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

@media (min-width: 576px) {
	.text-sm-left {
		text-align: left !important;
	}
	.text-sm-right {
		text-align: right !important;
	}
	.text-sm-center {
		text-align: center !important;
	}
}

@media (min-width: 768px) {
	.text-md-left {
		text-align: left !important;
	}
	.text-md-right {
		text-align: right !important;
	}
	.text-md-center {
		text-align: center !important;
	}
}

@media (min-width: 992px) {
	.text-lg-left {
		text-align: left !important;
	}
	.text-lg-right {
		text-align: right !important;
	}
	.text-lg-center {
		text-align: center !important;
	}
}

@media (min-width: 1200px) {
	.text-xl-left {
		text-align: left !important;
	}
	.text-xl-right {
		text-align: right !important;
	}
	.text-xl-center {
		text-align: center !important;
	}
}

.text-lowercase {
	text-transform: lowercase !important;
}

.text-uppercase {
	text-transform: uppercase !important;
}

.text-capitalize {
	text-transform: capitalize !important;
}

.font-weight-light {
	font-weight: 300 !important;
}

.font-weight-normal {
	font-weight: 400 !important;
}

.font-weight-bold {
	font-weight: 700 !important;
}

.font-italic {
	font-style: italic !important;
}
.color-white {
	color: #fff!important;
}
.underline, .underline:visited {
	text-decoration: underline!important;
}
.underline:active,.underline:hover,.underline:focus {
	text-decoration: none!important;
}
.color-white-a a {
	color: #fff!important;
}
span.dark-red {
	color: #7bbc48!important;
}
.btn, .btn-large, .btn-small {
	background-color: #7bbc48;
	color: #fff!important;
	box-shadow: none!important;
	text-decoration: none!important;
	-webkit-box-shadow: none!important;
	font-weight: bold!important;
}
.btn:hover, .btn-large:hover, .btn-small:hover, .btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
	background-color: #6aab36;
}
.btn.invert, .btn-large.invert, .btn-small.invert {
	background-color: transparent;
	border: 2px solid #7bbc48;
	color: #333!important;
}
.btn.invert:hover, .btn-large.invert:hover, .btn-small.invert:hover {
	background-color: #7bbc48;
	color: #fff!important;
}
/* header */
header {
	background: url(../images/top-bg.png);
	position: relative;
	z-index: 111!important;
}
header:before {
	content: '';
	position: absolute;
	display: block;
	top: -300px;
	left: 0;
	width: 100%;
	height: 300px;
	background: url(../images/top-bg.png);
}
.hamburger {
	display: none!important;
}
@media(max-width: 991px) {
	header {
		height: 56px;
	}
	header .logo img {
		height: 56px!important;
		padding: 3px 0 0 0!important;
	}
	.header__right {
		display: none!important;
	}
	.hamburger {
		display: block!important;
	}
}
header .logo a {
	display: block;
}
header .logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

header .logo img {
	height: auto;
	padding: 0;
	max-height: 80px;
	max-width: 100%;
	transition: all .2s;
}
header .header__right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 10px;
	padding-top: 10px;
}
header .header__address {
	font-family: montserrat;
	padding-top: 1px;
  font-size: 0.8rem;
  padding-right: 15px;
}
header .header__btn {
	font-size: 0.7rem;
}
header .header__phone {
	font-size: 22px;
	color: #333!important;
	text-decoration: none!important;
	font-weight: 400;
	transition: top .5s;
}
header .header__menu-wrapper {
	text-align: right;
}

header .header__menu > li:first-child {
	border-left: none;
}
header .header__menu > li:last-child {
	padding-right: 0;
}
header .header__menu > li > a {
	font-size: 14px;
	font-weight: 700;
	color: #333;
	position: relative;
	text-transform: uppercase;
	display: block;
	transition: all .2s;
}
header .header__menu > li > a:hover, header .header__menu > li.jshover > a, header .header__menu > li > a.root-item-selected {
	color: #7bbc48;
	text-decoration: none;
}
header .header__right > * {
	margin-bottom: 5px;
}
header .header__menu > li > a:after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 3px;
	background: #7bbc48;
	bottom: -2px;
	left: 0;
	opacity: 0;
	transition: all .2s;
	pointer-events: none;
}
header .header__menu > li {
	padding: 0 10px;
	position: relative;
}
header .header__menu > li > a:hover:after,
header .header__menu > li > a.root-item-selected:after {
	opacity: .8;
}
header .header__menu > li > ul {
	display: none;
}
header .header__menu > li:hover > ul, header .header__menu > li.jshover > ul {
	position: absolute;
  display: block!important;
  top: 40px;
  min-width: 200px;
  left: 0;
  text-align: left;
  box-shadow: 0 0 1px #ccc;
  background: url(../images/top-bg.png);
}
header .header__menu > li > ul > li {
	padding: 5px 10px;
	width: 100%;
	cursor: pointer;
	position: relative;
}
header .header__menu > li > ul > li > a {
  font-size: 14px;
  font-weight: 300;
  height: 100%;
  width: 100%;
  display: block;
  color: #333!important;
	text-decoration: none!important;
}
header .header__menu > li > ul > li:hover {
  background: rgba(123,188,72,.5);
}
header .header__menu > li > ul > li.item-selected > a {
	font-weight: bold;
}
@media (min-width: 1280px) {
	header .header__menu > li {
		padding: 14px 12px;
    margin: -14px 0;
	}
}
@media screen and (max-width: 1279px) {
	header .header__phone {
		font-size: 18px;
	}
	header .header__menu > li > a:after {
		bottom: -2px;
	}
}
@media (max-width: 991px) {
	header .logo a {
		display: inline-block;
	}
	header .logo {
		display: block!important;
	}
	header {
		background: #333;
	}
	header .logo img {
		max-width: 200px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	header .header__right {
		align-items: center;
	}
	header .header__menu-wrapper {
		text-align: center;
	}
	header .header__right > * {
		margin-bottom: 15px;
	}
}

/* header fixed-t */	
@media(max-width: 991px) {
	.mobile {
		position: fixed;
		width: 100%;
		z-index: 111;
		top: 0;
        background: #fff;
		left: 0;
		margin-top: 0;
		margin-bottom: 0;
		box-shadow: 0 0 1px #333;
	  -webkit-transition: -webkit-transform .4s ease!important;
	  transition: -webkit-transform .4s ease!important;
	  transition: transform .4s ease!important;
	  transition: transform .4s ease, -webkit-transform .4s ease!important;
	}
	
}
/* ------------------------ HABMURGER ------------------------ */
.hamburger {
	display:inline-block; 
	background:#7bbc48;
	position:absolute; left:0; top:0; z-index:1000;
	padding: 15px 15px;
	cursor: pointer;
	-webkit-transition-property: opacity, -webkit-filter;
	transition-property: opacity, -webkit-filter;
	-o-transition-property: opacity, filter;
	transition-property: opacity, filter;
	transition-property: opacity, filter, -webkit-filter;
	-webkit-transition-duration: 0.15s;
	-o-transition-duration: 0.15s;
	transition-duration: 0.15s;
	-webkit-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	border: 0;
	margin: 0;
	overflow: hidden;
	-webkit-transition:left 0.2s;
	-o-transition:left 0.2s;
	transition:left 0.2s;
	line-height:1;
}
.hamburger-right-phone {
	left: initial;
	right: 0px;
  padding: 12px 15px;
}
.hamburger-right-phone .hamburger-box {
	text-align: center;
}
.hamburger-right-phone i {
	font-size: 30px;
	color: #fff;
}
.hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	width: 40px;
	height: 4px;
	background-color: #fff;
	border-radius: 4px;
	position: absolute;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	-o-transition-property: transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-transition-duration: 0.15s;
	-o-transition-duration: 0.15s;
	transition-duration: 0.15s;
	-webkit-transition-timing-function: ease;
	-o-transition-timing-function: ease;
	transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
	content: "";
	display: block;
}

.hamburger-inner::before {
	top: -10px;
}

.hamburger-inner::after {
	bottom: -10px;
}

/*
* HABMURGER Spin
*/
.hamburger--spin .hamburger-inner {
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	-o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
	-webkit-transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
	-o-transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
	transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
	-webkit-transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s
	cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s
	cubic-bezier(0.55, 0.055, 0.675, 0.19);
	-o-transition: bottom 0.1s 0.34s ease-in, transform 0.3s
	cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: bottom 0.1s 0.34s ease-in, transform 0.3s
	cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: bottom 0.1s 0.34s ease-in, transform 0.3s
	cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s
	cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner,
.slideout-open .hamburger--spin .hamburger-inner {
	-webkit-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	transform: rotate(225deg);
	-webkit-transition-delay: 0.14s;
	-o-transition-delay: 0.14s;
	transition-delay: 0.14s;
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before,
.slideout-open .hamburger--spin .hamburger-inner::before {
	top: 0;
	opacity: 0;
	-webkit-transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
	-o-transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
	transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after,
.slideout-open .hamburger--spin .hamburger-inner::after {
	bottom: 0;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s
	cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s
	cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: bottom 0.1s ease-out, transform 0.3s 0.14s
	cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: bottom 0.1s ease-out, transform 0.3s 0.14s
	cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: bottom 0.1s ease-out, transform 0.3s 0.14s
	cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s
	cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* ------------------------END HABMURGER ------------------------ */

/* main bg block*/
.main__background {
	background-color: #333;
	background-size: cover;
	background-position: 70%;
	min-height: 532px;
	position: relative;
}
.main__background-1 {
	background-image: url(../images/section1-bg.jpg);
}
.main__background-2 {
	background-image: url(../images/section1-bg-21.jpg);
}
.main__background .col-md-12 {
	z-index: 1;
}
.main__background:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 0;
	background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.6)), color-stop(50%, rgba(255,255,255,0)), color-stop(70%, rgba(255,255,255,0)),to(rgba(0,0,0,0.6)));
	background-image:-webkit-linear-gradient(top, rgba(0,0,0,0.6) 10%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 70%,rgba(0,0,0,0.6) 100%);
	background-image:-o-linear-gradient(top, rgba(0,0,0,0.6) 10%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 70%,rgba(0,0,0,0.6) 100%);
	background-image:linear-gradient(top, rgba(0,0,0,0.6) 10%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 70%,rgba(0,0,0,0.6) 100%);
}
.section1 {
	padding-left: 0;
	padding-right: 0;
}
.section1__block-imgWrap {
	padding-right: 15px;
	font-size: 4rem;
  color: #333;
  z-index: 0;
  position: relative;
}
.section1__block-imgWrap > span {
  z-index: 1;
}
.section1__block-imgWrap:before {
	position: absolute;
  content: '';
  width: 36px;
  height: 36px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
	bottom: 23px;
	right: 10px;
	border-radius: 5px;
	background: rgba(123,188,72,.5);	
	z-index: -1;
}
.section1__block-text p {
	margin: 0;
	line-height: 1.2;
}
.section1__block-text h6 {

}
.section1__block-item {
	border-radius: 6px;
	box-shadow: 0 2px 0 #e6e6e6;
	height: 100%;
	display: flex;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 10px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0.96) 0%, rgba(255,255,255,0.96) 61%, rgba(239,239,239,0.96) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.96) 0%,rgba(255,255,255,0.96) 61%,rgba(239,239,239,0.96) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0.96) 0%,rgba(255,255,255,0.96) 61%,rgba(239,239,239,0.96) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#e6efefef',GradientType=0 );
}
.section1 {
	position: relative;
}
.section1 .section1__block {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -65px;
	z-index: 1;
}
@media(max-width: 1400px) {
	.section1__block-item {
		flex-wrap: wrap;
	}
	.section1__block-text {
		text-align: center;
		width: 100%;
	}
	.section1__block-imgWrap {
		padding-right: 0;
    font-size: 3rem;
		width: 100%;
	}
	.section1__block-imgWrap img {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.section1__block-imgWrap:before {
		left: 0;
    bottom: 17px;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
	.section1__block-imgWrap {
		text-align: center;
	}
}

@media(max-width: 991px) {
	
	.section1__block > .row > div {
		margin-bottom: 15px;
	}
	.section1 .section1__block {
		position: relative;
		left: initial;
		right: initial;
		bottom: initial;
	}
}

/* section2 */
.section2__item .section2__item-info, .portfolio__title {
	background: #fff;
	overflow: hidden;
	padding: 20px;
	border-bottom: 2px solid #e7e7e7;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}
.portfolio__item {
	outline: none!important;
	text-decoration: none!important;
}
.portfolio__title {
	color: #333;
	background: rgb(255,255,255);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(248,248,248,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(248,248,248,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(248,248,248,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 );
}
.section2__item .section2__item-info p:last-child {
	margin-bottom: 0!important;
}
.section2__item .section2__sum-photos {
	position: relative;
	display: block;
	color: #555;
	text-decoration: underline;
}
.section2__item-info-bot {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.section2__item-info-bot p {
	margin: 0;
}
.section2__item .section2__sum-photos:before {
	content: '';
	position: absolute;
	display: block;
	top: 4px;
	left: -32px;
	width: 19px;
	height: 16px;
	background-image: url(../images/ico-photo-01.png);
}
@media(min-width: 991px) {
	.section2 {
		padding-top: 120px;
	}
}
@media(max-width: 991px) {
	.section2__item {
		max-width: 380px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}
}
/* section3 */

.section3__gallery {
	margin: 0 -6px;
	position: relative;
	margin-top: 30px;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.section3__gallery > div:nth-child(1) {
	width: 57.66871165%;
}
.section3__gallery > div:nth-child(2) {
	width: 42.33128834%;
}
.section3__gallery > div > div:nth-child(1) {
	width: 100%;
}
.section3__gallery > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section3__gallery a {
	padding:6px;
	display: block;
}
.section3__gallery img {
	width: 100%;
}
.float-left-all > * {
	float: left;
}
.section3 .phoneClick {
	font-size: 22px;
	color: #333!important;
	text-decoration: none!important;
	font-weight: 300;
}

@media(max-width: 991px) {
	.section3__gallery-wrap {
		margin-bottom: 30px;
	}
}
/* section4 */
.employes__item .employes__photo {
	max-width: 350px;
	max-height: 350px;
	border-radius: 40px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
.employes__item .employes__name {
	margin-bottom: 10px;
}
.employes__item .employes__text {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

/* section5 */
.ico__row > * {
	float: left;
}
.section5 .ico__row  {
	margin: 0 -12px;
	margin-top: 40px;
}
.section5 .ico__row > div {
	width: 14.2%;
	padding: 12px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}
.section5 .ico {
  width: 92px;
  height: 92px;
  display: flex;
  border-radius: 50px;
  background-color: rgba(37,107,192,.9);
  box-shadow: 0 0 0 8px rgba(37,107,192,.36);
  justify-content: center;
  transition: background-color .2s, box-shadow .2s;
  margin: 0 auto 48px auto;
  position: relative;
  align-items: center;
  line-height: 55px;
  font-size: 55px;
  color: #fff;
    

}
.section5 .ico__row > div:hover .ico:hover {
	color: #fff;
	background-color: rgba(123,188,72,.9);
	box-shadow: 0 0 0 8px rgba(123,188,72,.36);
}


.section5 .ico.n02 {
	background-position-x: -92px;
}
.section5 .ico.n03 {
	background-position-x: -184px;
}
.section5 .ico.n04 {
	background-position-x: -276px;
}
.section5 .ico.n05 {
	background-position-x: -368px;
}
.section5 .ico.n06 {
	background-position-x: -460px;
}
.section5 .ico.n07 {
	background-position-x: -552px;
}
.section5 .ico.n08 {
	background-position-x: -644px;
}
.section5 .ico.n09 {
	background-position-x: -736px;
}


.section5 .ico:before {
    content: '';
    display: block;
    position: absolute;
    width: 68px;
    height: 24px;
    background-image: url(../images/step-arrow.png);
    background-position: top;
    right: -70px;
    top:-30px;
    pointer-events: none;
}
.section5 .ico__row > div:nth-child(even) .ico:before {
	background-position: bottom;
    top:100px;
}
.section5 .ico__row > div:last-child .ico:before {
	display: none;
}

@media screen and (max-width: 1279px) {
	.section5 .ico__row > div {
		width: auto;
		float: none;
		display: inline-block;
	}
	.section5 .ico__row > div {
		width: 25%;
	}
	.section5 .ico__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	}
	.section5 .ico {
		margin-bottom: 20px;
	}
	.section5 .ico:before {
		content: none;
	}
	.section5 {
		height: auto;
	}
	.section5 .ico__row {
		text-align: center;
	}
}
/*section6*/
.footer__list-item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
@media screen and (max-width: 991px) {
	.section5 .ico__row > div {
		width: 33%;
	}
}
@media screen and (max-width: 767px) {
	.section5 .ico__row > div {
		width: 50%;
	}
}
@media screen and (max-width: 380px) {
	.section5 .ico__row > div {
		width: 100%;
	}
}
@media(min-width: 768px) {
	#form__footer .input-name {
		padding-right: 15px;
	}
}
/* sectionY */
.sectionCompany .company__item img {
	margin-bottom: 22px;
}
.sectionY .yv__item {
	display: block;
  margin-bottom: 25px;
  position: relative;
}
.sectionY .yv__item:after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 68px;
	height: 48px;
	margin-left: -34px;
	margin-top: -24px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjU1LjcgNDQ2LjNjLTUzLjMuMy0xMDYuNi0uNC0xNTkuOC0zLjMtMTcuNC0xLTM0LjctMi41LTUwLjQtMTFDMzUgNDI2LjMgMjcgNDE4LjQgMjIgNDA3LjIgMTMuMiAzODguNiAxMC41IDM2OSA5IDM0OWMtMy40LTQxLjMtMy42LTgyLjYtMS44LTEyMy44IDEtMjIgMS42LTQ0IDYuOC02NS41IDItOC40IDUtMTYuNiA4LjgtMjQuNEMzMiAxMTcgNDggMTA4IDY3LjMgMTA0YzE2LjItMyAzMi44LTMgNDkuMy0zLjcgNTYtMi4zIDExMi0zLjUgMTY4LTMgNDMgLjYgODYuMiAxLjcgMTI5LjMgNCAxMy4yLjYgMjYuNi44IDM5LjMgNS41IDE3LjIgNi40IDMwIDE3LjIgMzcgMzQuNyA2LjYgMTYuOCA5LjIgMzQuMiAxMC42IDUyIDMuOCA0OC43IDQgOTcuMy43IDE0Ni0xIDE2LjMtMi4yIDMyLjctNi41IDQ4LjgtOS43IDM3LTMyLjggNTEuNS02Ni43IDUzLjgtMzYuMiAyLjUtNzIuNSAzLjgtMTA4LjggNC4zLTIxLjMuMi00Mi43IDAtNjQgMHpNMjAzLjIgMzQ0TDM0OCAyNjQuN2wtMTQ0LjgtNzkuM1YzNDR6IiBmaWxsPSIjIzFmMWYxZiIvPjxwYXRoIGQ9Ik0yMDMuMiAzNDRWMTg1LjVMMzQ4IDI2NC44IDIwMy4yIDM0NHoiIGZpbGw9IiNGRUZERkQiLz48L3N2Zz4=");
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: .81;
	border: none;
	z-index: 4;
}
.sectionY .yv__item:hover:after {
	background-image:url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjU1LjcgNDQ2LjNjLTUzLjMuMy0xMDYuNi0uNC0xNTkuOC0zLjMtMTcuNC0xLTM0LjctMi41LTUwLjQtMTFDMzUgNDI2LjMgMjcgNDE4LjQgMjIgNDA3LjIgMTMuMiAzODguNiAxMC41IDM2OSA5IDM0OWMtMy40LTQxLjMtMy42LTgyLjYtMS44LTEyMy44IDEtMjIgMS42LTQ0IDYuOC02NS41IDItOC40IDUtMTYuNiA4LjgtMjQuNEMzMiAxMTcgNDggMTA4IDY3LjMgMTA0YzE2LjItMyAzMi44LTMgNDkuMy0zLjcgNTYtMi4zIDExMi0zLjUgMTY4LTMgNDMgLjYgODYuMiAxLjcgMTI5LjMgNCAxMy4yLjYgMjYuNi44IDM5LjMgNS41IDE3LjIgNi40IDMwIDE3LjIgMzcgMzQuNyA2LjYgMTYuOCA5LjIgMzQuMiAxMC42IDUyIDMuOCA0OC43IDQgOTcuMy43IDE0Ni0xIDE2LjMtMi4yIDMyLjctNi41IDQ4LjgtOS43IDM3LTMyLjggNTEuNS02Ni43IDUzLjgtMzYuMiAyLjUtNzIuNSAzLjgtMTA4LjggNC4zLTIxLjMuMi00Mi43IDAtNjQgMHpNMjAzLjIgMzQ0TDM0OCAyNjQuN2wtMTQ0LjgtNzkuM1YzNDR6IiBmaWxsPSIjREQyQzI4Ii8+PHBhdGggZD0iTTIwMy4yIDM0NFYxODUuNUwzNDggMjY0LjggMjAzLjIgMzQ0eiIgZmlsbD0iI0ZFRkRGRCIvPjwvc3ZnPg==");
	opacity:1
}
/* footer */
footer {
	background-color: #333;
}
.footer-copyright a {
	text-decoration: none;
	color: #FFF;
	font-size: 14px;
	display: inline-block;
	margin-left: auto;
}
.footer-copyright a span {
	font-size: 11.5px;
}
.footer-copyright a svg {
	fill: #FFF;
}
.footer-copyright a svg, .footer-copyright a span {
	display: block;
}
.footer-copyright a:hover svg {
	fill: #7bbc48;
	-webkit-transition: all 0.33s ease-out;
	-o-transition: all 0.33s ease-out;
	transition: all 0.33s ease-out;
}
.footer-copyright a:hover span{
	color: #7bbc48;
	-webkit-transition: all 0.33s ease-out;
	-o-transition: all 0.33s ease-out;
	transition: all 0.33s ease-out;
}
/* extra */
.photo-slider .owl-nav>div{
	position: absolute;
	cursor: pointer;
	background: url("../images/arr-sprite.png") no-repeat;
	width: 45px;
	height: 45px;
	top: 50%;
	margin-top: -23px;
	z-index: 1000;
	overflow: hidden;
	text-indent: -200px;
}

.photo-slider .owl-nav .owl-prev {
	left: 10px;
	background-position: 0 0;
}

.photo-slider .owl-nav .owl-next{
	right: 10px;
	background-position: right 0;
}

.photo-slider .owl-nav .owl-prev:hover{
	background-position: 0 bottom;
}

.photo-slider .owl-nav .owl-next:hover{
	background-position: right bottom;
}

.owl-carousel .owl-item img{
	transform-style: initial;
}

.owl-carousel .owl-item img{
	width: auto;
}
.main__slider {
	visibility: hidden;
}
.slick-initialized {
  visibility: visible!important;
}


.service__item-text-wrapper {
	display: flex;
	height: 100%;
	flex-direction: column;
	background-color: #fff;
	justify-content: flex-start;
	-webkit-transition: all 0.4s ease-in-out 0.05s;
  -moz-transition: all 0.4s ease-in-out 0.05s;
  -ms-transition: all 0.4s ease-in-out 0.05s;
  -o-transition: all 0.4s ease-in-out 0.05s;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.service__item {
	margin-bottom: 30px;
}
.service__item a {
	outline: none!important;
	text-decoration: none!important;
	color: #333;
}
.service__item:hover .btn, 
.service__item:focus .btn, 
.service__item:active .btn { 
	background-color: #6aab36;
}
.service__item .btn {
	width: 100%;
	font-size: 14px;
	padding: 5px;
	margin-top: auto;
}
.service__item img {
	margin-bottom: 15px;
}
.service__param {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 25px;
  font-size: 14px;
}
.bold {
	font-weight: 700;
}
.service__title {
	padding: 0 15px;
	min-height: 25px;
}
@media (max-width: 991px) {
	.service__item {
		margin-bottom: 15px;
	}
}


/* CallBackBtn */
.cback {
	width: 160px;
	height: 160px;
	position: fixed;
	z-index: 997;
	bottom: -80px;
	right: -80px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}
.cback a {
	display: block;
	height: 100%;
	outline: none!important;
	border: none!important;
}
.cback-circle {
	background: #3CB868; /*#3CB868*/
	color: #3CB868; /*#3CB868*/
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.cback-circle--phone {
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.cback-circle.fn1 {
  -webkit-animation: pin 2.5s linear .4s infinite normal;
          animation: pin 2.5s linear .4s infinite normal;
}
.cback-circle.fn2 {
  -webkit-animation: pin 2s linear 0s infinite normal;
          animation: pin 2s linear 0s infinite normal;
  background: none;
}
.cback:hover .cback-circle--phone {
  -webkit-animation: hvr-phone 1.5s linear infinite normal;
          animation: hvr-phone 1.5s linear infinite normal;
}
.cback .phone-icon {
	width: 41px;
	height: 41px;
	font-size: 46px;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 52%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-animation: phone-fn 2s infinite ease-in-out;
	animation: phone-fn 2s infinite ease-in-out;
}

@-webkit-keyframes phone-fn {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1) skew(1deg);
            transform: translate(-50%, -50%) rotate(0deg) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: translate(-50%, -50%) rotate(-25deg) scale(1) skew(1deg);
            transform: translate(-50%, -50%) rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(25deg) scale(1) skew(1deg);
            transform: translate(-50%, -50%) rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: translate(-50%, -50%) rotate(-25deg) scale(1) skew(1deg);
            transform: translate(-50%, -50%) rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: translate(-50%, -50%) rotate(25deg) scale(1) skew(1deg);
            transform: translate(-50%, -50%) rotate(25deg) scale(1) skew(1deg);
  }
  100%,50% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1) skew(1deg);
            transform: translate(-50%, -50%) rotate(0deg) scale(1) skew(1deg);
  }
}

@keyframes phone-fn {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1) skew(1deg);
            transform: translate(-50%, -50%) rotate(0deg) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: translate(-50%, -50%) rotate(-25deg) scale(1) skew(1deg);
            transform: translate(-50%, -50%) rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(25deg) scale(1) skew(1deg);
            transform: translate(-50%, -50%) rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: translate(-50%, -50%) rotate(-25deg) scale(1) skew(1deg);
            transform: translate(-50%, -50%) rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: translate(-50%, -50%) rotate(25deg) scale(1) skew(1deg);
            transform: translate(-50%, -50%) rotate(25deg) scale(1) skew(1deg);
  }
  100%,50% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1) skew(1deg);
            transform: translate(-50%, -50%) rotate(0deg) scale(1) skew(1deg);
  }
}
@-webkit-keyframes pin {
  0% {
    opacity: .6;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pin {
  0% {
    opacity: .6;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes hvr-phone {
  0%, 100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    box-shadow: inset 0 0 20px -14px rgba(0, 0, 0, 0.75);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
    box-shadow: inset 0 0 20px -4px rgba(0, 0, 0, 0.75);
  }
}
@keyframes hvr-phone {
  0%, 100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    box-shadow: inset 0 0 20px -14px rgba(0, 0, 0, 0.75);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
    box-shadow: inset 0 0 20px -4px rgba(0, 0, 0, 0.75);
  }
}
.mobile__cback-href {
  display: none!important;
}
@media (max-width: 767px) {
	.cback {
		width: 80px;
		height: 80px;
		position: fixed;
		bottom: -40px;
		right: -40px;
	}
	.cback .phone-icon {
    width: 20px;
    height: 20px;
    font-size: 22px;
  }
  .mobile__cback-href {
    display: block!important;
    background-color: transparent;
    z-index: 9999;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 80px!important;
    height: 80px!important;;
  }
}

#callback input:not([type="checkbox"]), #callback button, #section3__form input:not([type="checkbox"]), #section3__form button,  #section3__form textarea,
#form__footer input:not([type="checkbox"]), #form__footer button,  #form__footer textarea {
	width: 100%;
	border-radius: 3px;
	outline: none!important;
	border: 1px solid rgba(123,188,72,0.3);
	padding: 15px;
	font-size: 14px;
}
#section3__form input:not([type="checkbox"]), #section3__form button,  #section3__form textarea,
#form__footer input:not([type="checkbox"]), #form__footer button,  #form__footer textarea {
	margin-bottom: 15px;
}
.form__error  {
	margin-bottom: 20px;
}
.error {
	color: #ff0000;
	font-size: 0.8rem;
}
#callback section label[for="check"], #section3__form section label[for="check"], #form__footer section label[for="check"] {
	margin-bottom: 26px;
	font-size: 14px;
	color: #999;
	display: block;
}
#callback input:focus, #section3__form input:focus, #form__footer input:focus {
  border-color: #7bbc48;
}
#callback input.error, #section3__form input.error, #form__footer input.error {
  border-color: #ff0000;
}
#callback input[type="submit"], #section3__form input[type="submit"], #form__footer input[type="submit"] {
	border: none;
}

.review__inner {

}
.review__text {
	background-color: #fff;
	border-radius: 5px;
	padding: 30px;
}
.review__tail {
    width: 0;
    height: 0;
    margin-left: 35px;
    border: 12px solid;
    border-color: #fff transparent transparent #fff;
}
.review__author {
	margin: 10px 0 0 35px;
    font-size: 16px;
    line-height: 1.35;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    color: #000;
}
.footer-call{
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding:24px 0;
}
@media(max-width: 991px) {
    .footer-contact {
        text-align: center
    }
}




            .skill img{
                    width:350px;
                }
                .skill-image{
                    text-align: center;
                }
                .ico_logo{
                    displa: flex;
                    justify-content: center;
                }
                .ico_logo img{
                    max-width: 100%;
                    max-height: 50px;
                 }
                .ico_logo >div {
                    text-align: center;
                    padding: 24px;
                    width: 20%;
                }
                .bank_info{
                    text-align: center;
                    padding: 64px 0;
                }
                .left_border{
                    border-right: solid 1px #7bbc48;
                }
                
                @media(max-width: 970px) {
                    .ico_logo >div {
                        width:30%;
                    }
                   .skill img{
                        width:250px;
                    }
                }
                
                
                @media(max-width: 768px) {
                    .left_border {
                        border-right: none;
                        padding: 24px;
                        /*border-bottom: solid 1px #7bbc48;*/
                    }
                    .ico_logo >div {
                        width:50%;
                    }
                    .arrow-slider{
                        display: none !important;
                    }
                }
                
                @media(max-width: 368px) {
                    .ico_logo >div {
                        width:100%;
                    }
                }
                
.small{
    font-size: 12px;
}

.hide{
    display: none;
}
.button-align{
    padding-top: 24px;
    text-align: center;
}

.employer__slider * {
    outline: none;
}
.arrow-slider{
    position: absolute;
    top:50%;
    border: none;
    font-size: 48px;
    background: none;
    opacity: 0.3;
    z-index: 1000;
}
.arrow-slider :hover{
    opacity: 0.5;
}
.arrow-slider:focus{
    outline: none;
}
.slick-left{
    left: 0px;
}
.slick-right{
    right: 0px;
}



#body-inner{
    overflow: hidden;
}