@charset "UTF-8";

@font-face {
  font-family: "steps";
  src:url("../fonts/steps.eot");
  src:url("../fonts/steps.eot?#iefix") format("embedded-opentype"),
    url("../fonts/steps.woff") format("woff"),
    url("../fonts/steps.ttf") format("truetype"),
    url("../fonts/steps.svg#steps") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "steps" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="st-"]:before,
[class*=" st-"]:before {
  font-family: "steps" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.st-sketch:before {
  content: "\61";
}
.st-blueprint:before {
  content: "\62";
}
.st-circular-saw:before {
  content: "\63";
}
.st-drawing:before {
  content: "\64";
}
.st-file:before {
  content: "\65";
}
.st-linoleum:before {
  content: "\66";
}
.st-mist:before {
  content: "\67";
}
.st-roof2:before {
  content: "\68";
}
.st-roof:before {
  content: "\69";
}
.st-roof3:before {
  content: "\6a";
}
.st-sketch-1:before {
  content: "\6b";
}
.st-smart-home:before {
  content: "\6c";
}
.st-toolbox:before {
  content: "\6d";
}
.st-wood-saw:before {
  content: "\6e";
}
.st-machine-press:before {
  content: "\6f";
}
.st-machine-press2:before {
  content: "\70";
}
.st-trophy:before {
  content: "\71";
}
.st-quality:before {
  content: "\72";
}
